<div class=" center jumbotron">
    <div id ="log"><h1>OFFERBUD</h1></div>
    <h2>Platforma ofertowa dla firm budowlanych</h2>
    <h2>Nowe możliwości dla Twojej firmy</h2>
    <%= link_to 'Lista ofert', offers_path, class: 'btn btn-warning' %>
    <%= link_to 'Nowa oferta', new_offer_path, class: 'btn btn-warning' %> 
    <%= link_to 'Logowanie', new_user_session_path, class: 'btn btn-warning' %>
</div>