.jumbotron {
    background-image: url("tool.jpg");
    background-repeat: no-repeat;
    background-position: 0 0 center;
    
}

.center {
    text-align: center;
}


body {
    background-image: url("cb.jpg");
    background-repeat: no-repeat;
    background-position: 0 0 center;
    
}

.container{
    font-family: 'Advent Pro', sans-serif;
}

.navbar-brand {
    color: #000000;
    font-family: 'Advent Pro', sans-serif;

}

.navbar-brand:hover {
    color: #f4ab20;
}


.navbar-link {
    color: #000000;
    font-family: 'Advent Pro', sans-serif;
}

.navbar-link:hover {
    color: gray;
    text-decoration: none;
}

#log {
   color: #000;
   font-family: 'Audiowide', cursive;
}

#log1 {
   color: #fff;
   font-family: 'Audiowide', cursive;
}

#opis {
    color: #fff;
}


.form-group {
    
}

#footer
{
        font-family: 'Advent Pro', sans-serif; 
        position:fixed;
        text-align:center;
		bottom:0;
		width:100%;
		height:40px;
		background:#F8F8F8;
}

@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
