<p>Witaj <%= @resource.email %>!</p>

<p>Ktoś poprosił o link, aby zmienić hasło. Możesz to zrobić za pomocą poniższego linku.</p>

<p><%= link_to 'Zmień hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli nie poprosiłeś o to, zignoruj tego e-maila.</p>
<p>Twoje hasło nie zmieni się, dopóki nie uzyskasz dostępu do powyższego linku i nie utworzysz nowego.</p>
